# Dse Python course

### lesson 1

In [1]:
import sys # type: ignore
import math # type: ignore
import datetime # type: ignore
import pandas # type: ignore
import numpy # type: ignore

#### return the result of an exam according to the result of three molues

In [2]:
m1_grade = 18
m2_grade = 20
m3_grande = 30

In [3]:
grade = (m1_grade + m2_grade + m3_grande)/3

if grade >= 18:
    print('exam passed')
else:
    print('exam failed')

print(grade)

exam passed
22.666666666666668

In [4]:
# consider that moduled can be weighted

m1_weigth = 0.5
m2_weigth = 0.5
m3_weigth = 1

grade = (m1_grade*m1_weigth + m2_grade*m2_weigth + m3_grande*m3_weigth)/(m1_weigth + m2_weigth + m3_weigth)

if grade >= 18:
    print('exam passed')
else:
    print('exam failed')

print(grade)

exam passed
24.5

In [5]:
# consider to manage courses with a dynamic number of modules

grades = [18, 20, 30] # list
weights = [0.25, 0.25, 0.5]

# iterate over the grades and the weights lists

sum_values = 0 # used just to store step by step the results
for i, num in enumerate(grades): # enumerate consider each element of the list one by one
    sum_values += num * weights[i] # same syntax as : sum_values = sum_values + num*weights[i]
    
grade = sum_values/sum(weights)

print(grade)

24.5

#### enumerate function

In [6]:
l1 = ["eat", "sleep", "repeat"]
s1 = "geek"

# creating enumerate objects
obj1 = enumerate(l1)
obj2 = enumerate(s1)

print("Return type:", type(obj1))
print(list(enumerate(l1)))

print(list(enumerate(s1)))

# changing start index to 2 from 0
print(list(enumerate(s1, 2)))

Return type: <class 'enumerate'>
[(0, 'eat'), (1, 'sleep'), (2, 'repeat')]
[(0, 'g'), (1, 'e'), (2, 'e'), (3, 'k')]
[(2, 'g'), (3, 'e'), (4, 'e'), (5, 'k')]

In [7]:
l1 = ["eat", "sleep", "repeat"]

# printing the tuples in object directly
for ele in enumerate(l1):
    print(ele)

# changing index and printing separately
for count, ele in enumerate(l1, 100):
    print(count, ele)

# getting desired output from tuple
for count, ele in enumerate(l1):
    print(count)
    print(ele)

(0, 'eat')
(1, 'sleep')
(2, 'repeat')
100 eat
101 sleep
102 repeat
0
eat
1
sleep
2
repeat

### lesson 2

#### zip function

In [8]:
# zip function: zip() function takes iterables (can be zero or more), aggregates them in a tuple, and returns it.

grades = [18, 20, 30]
weights = [0.25, 0.25, 0.5]

sum_modules = 0
sum_modules = sum([a*b for a,b in zip(grades, weights)])
sum_modules

24.5

In [9]:
languages = ['Java', 'Python', 'JavaScript']
versions = [14, 3, 6]

result = zip(languages, versions)
print(list(result))

[('Java', 14), ('Python', 3), ('JavaScript', 6)]

#### string manipulation

In [10]:
s = 'testoLungo'

In [11]:
s.capitalize() # convert only the first letter of the string

'Testolungo'

In [12]:
s.lower()

'testolungo'

In [13]:
s.upper()

'TESTOLUNGO'

In [14]:
s[1:4]

'est'

In [15]:
s[0]

't'

In [16]:
s[1:]

'estoLungo'

In [17]:
s[-1]

'o'

In [18]:
s[:1]

't'

In [19]:
s[:-1]

'testoLung'

In [20]:
# we can express three elements: [start:stop:step]

s[1::2]

'etLno'

In [21]:
s[-3:-6:-2]

'nL'

In [22]:
s[1::3].upper()

'EON'

In [23]:
s[-1:-4] # i get nothing because the -1 position is the starting point

''

In [24]:
s[-1]

'o'

In [25]:
s[-4:-1]

'ung'

#### getting the last 5 letters

In [26]:
s[-5:]

'Lungo'

In [27]:
s[5:]

'Lungo'

#### getting the first 5 letters

In [28]:
s[:5]

'testo'

In [29]:
s[:-5]

'testo'

In [30]:
s[-1::-1] # reversed word

'ognuLotset'

#### given the string in input, retunr true or false is it is palindrom

In [31]:
word = input('insert your word')
if word.lower() == word[-1::-1]:
    print('your word is palindrom')
else:
    print('your word is not palindrom')

your word is not palindrom

#### functions

In [32]:
# since something palindorm is a sort of function, i define a targeted  specification

word = input('insert your word')

def check_pal(word):
    word = word.lower()
    if word == word[-1::-1]:
        return True
    else:
        return False
    
check_pal(word)

False

In [33]:
word = input('insert your word')

def check_pal(word):
    word = word.lower()
    if word == word[-1::-1]:
        print(f"the word '{word}' is palindrom")
    else:
        print(f"the word '{word}' is not palindrom")
    
check_pal(word)

the word 'hjhkjh' is not palindrom

#### while loop

In [34]:
# we want to check if a word is palindrom without the slicing function

word = input('insert your word')
word = word.lower()

def check_pal_iteration(word):
    left = 0 # index of the first element
    right = len(word)-1 # index of the last element
    is_pal = True
    
    while left < right:
        if word[left] != word[right]:
            is_pal = False
            break # stop execution of the while
        
        left += 1 # updating loop
        right -= 1 # updating loop
    
    return is_pal

check_pal_iteration(word)

False

### exercises on loops

#### exercise 1

Print first 10 natural numbers using while

In [41]:
i=1

while i < 11: # can be written also as: while i <= 10
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

#### exercise 2

Calculate sum of all numbers from 1 to a given number

In [75]:
num = int(input('enter a number'))
i = 0
sum = 0

while i <= num-1:
    next_num = sum + 1
    sum = i + next_num
    i += 1

print(sum)

359976

In [76]:
sum = 0
num = int(input('enter number'))

for i in range(1,num+1,1):
    sum += i
    
print(sum)

359976

#### exercise 3

Print multiplication table of a given number

In [109]:
num = int(input('enter number'))

i = 1

while i <= 10:
    mult = num * i
    i += 1
    
    print(mult)

2
4
6
8
10
12
14
16
18
20

In [ ]:
num = int(input('enter number'))

for i in range (1, 11):
    mult = num * i
    
    print(mult)

#### exercise 4

Write a Python program to display only those numbers from a list that satisfy the following conditions

The number must be divisible by five
If the number is greater than 150, then skip it and move to the following number
If the number is greater than 500, then stop the loop

In [122]:
numbers = [12, 75, 150, 180, 145, 525, 50]

for i in numbers:
    if i > 500:
        break
    if i%5 == 0:
        if i <= 150:
            
            print(i)

75
150
145

In [123]:
numbers = [12, 75, 150, 180, 145, 525, 50]

for item in numbers:
    if item > 500:
        break
    elif item > 150:
        continue
    elif item % 5 == 0:
        print(item)

75
150
145

#### exercise 5

Count the total number of digits in a number

In [128]:
7
num = int(input('enter number'))

count = 0
while num != 0:
    num = num // 10

    count = count + 1
print(count)

4

#### exercise 6

Find the factorial of a given number

In [152]:
num = int(input('enter number'))

i = num - 1
mult = num * i

while i > 1:
    i -= 1
    mult = mult * i

print(mult)

362880

In [153]:
num = int(input('enter number'))

fact = 1

for i in range(1, num+1):
    fact = fact * i

print(fact)

362880

#### exercise 7

Calculate the cube of all numbers from 1 to a given number

In [171]:
num = int(input('enter number'))

for i in range (1, num+1):
    cube = i*i*i
    i += 1
    print(cube)

1
8
27
64
125
216

#### exercize 8

Write a program to create a function that takes two arguments, name and age, and print their value.

In [8]:
def print_fun(name,age):

    print(name, age)
    
print_fun('paolo', 5)

paolo 5

#### exercise 9

Write a program to create function func1() to accept a variable length of arguments and print their value.

In [9]:
# to create functions that take n number of positional arguments we use *args as a parameter
# Using this, we can pass any number of arguments to this function. Internally all these values are represented in the form of a tuple

def func1(*args):
    for i in args:
        print(i)
        
func1(2,4,5,2,2,4,5)

2
4
5
2
2
4
5

#### exercise 10

Write a program to create function calculation() such that it can accept two variables and calculate addition and subtraction. Also, it must return both addition and subtraction in a single return call.

In [12]:
val_1 = int(input())
val_2 = int(input())

def calculation(val_1 = 0, val_2 = 0):
    sum = val_1 + val_2
    dif = val_1 - val_2
    
    print(sum, dif)
    
calculation(val_1, val_2)

10 -4