# Dse Python course

### lesson 1

In [11]:
import sys # type: ignore
import math # type: ignore
import datetime # type: ignore
import pandas # type: ignore
import numpy # type: ignore

#### return the result of an exam according to the result of three molues

In [12]:
m1_grade = 18
m2_grade = 20
m3_grande = 30

In [13]:
grade = (m1_grade + m2_grade + m3_grande)/3

if grade >= 18:
    print('exam passed')
else:
    print('exam failed')

print(grade)

exam passed
22.666666666666668

In [14]:
# consider that moduled can be weighted

m1_weigth = 0.5
m2_weigth = 0.5
m3_weigth = 1

grade = (m1_grade*m1_weigth + m2_grade*m2_weigth + m3_grande*m3_weigth)/(m1_weigth + m2_weigth + m3_weigth)

if grade >= 18:
    print('exam passed')
else:
    print('exam failed')

print(grade)

exam passed
24.5

In [15]:
# consider to manage courses with a dynamic number of modules

grades = [18, 20, 30] # list
weights = [0.25, 0.25, 0.5]

# iterate over the grades and the weights lists

sum_values = 0 # used just to store step by step the results
for i, num in enumerate(grades): # enumerate consider each element of the list one by one
    sum_values += num * weights[i] # same syntax as : sum_values = sum_values + num*weights[i]
    
grade = sum_values/sum(weights)

print(grade)

24.5

#### enumerate function

In [16]:
l1 = ["eat", "sleep", "repeat"]
s1 = "geek"

# creating enumerate objects
obj1 = enumerate(l1)
obj2 = enumerate(s1)

print("Return type:", type(obj1))
print(list(enumerate(l1)))

print(list(enumerate(s1)))

# changing start index to 2 from 0
print(list(enumerate(s1, 2)))

Return type: <class 'enumerate'>
[(0, 'eat'), (1, 'sleep'), (2, 'repeat')]
[(0, 'g'), (1, 'e'), (2, 'e'), (3, 'k')]
[(2, 'g'), (3, 'e'), (4, 'e'), (5, 'k')]

In [17]:
l1 = ["eat", "sleep", "repeat"]

# printing the tuples in object directly
for ele in enumerate(l1):
    print(ele)

# changing index and printing separately
for count, ele in enumerate(l1, 100):
    print(count, ele)

# getting desired output from tuple
for count, ele in enumerate(l1):
    print(count)
    print(ele)

(0, 'eat')
(1, 'sleep')
(2, 'repeat')
100 eat
101 sleep
102 repeat
0
eat
1
sleep
2
repeat

### lesson 2

#### zip function

In [26]:
# zip function: zip() function takes iterables (can be zero or more), aggregates them in a tuple, and returns it.

grades = [18, 20, 30]
weights = [0.25, 0.25, 0.5]

sum_modules = 0
sum_modules = sum([a*b for a,b in zip(grades, weights)])
sum_modules

24.5

In [24]:
languages = ['Java', 'Python', 'JavaScript']
versions = [14, 3, 6]

result = zip(languages, versions)
print(list(result))

[('Java', 14), ('Python', 3), ('JavaScript', 6)]

#### string manipulation

In [72]:
s = 'testoLungo'

In [73]:
s.capitalize() # convert only the first letter of the string

'Testolungo'

In [74]:
s.lower()

'testolungo'

In [75]:
s.upper()

'TESTOLUNGO'

In [76]:
s[1:4]

'est'

In [77]:
s[0]

't'

In [78]:
s[1:]

'estoLungo'

In [79]:
s[-1]

'o'

In [80]:
s[:1]

't'

In [81]:
s[:-1]

'testoLung'

In [83]:
# we can express three elements: [start:stop:step]

s[1::2]

'etLno'

In [86]:
s[1::3].upper()

'EON'

In [88]:
s[-1:-4] # i get nothing because the -1 position is the starting point

''

In [90]:
s[-4:-1]

'ung'

#### getting the last 5 letters

In [93]:
s[-5:]

'Lungo'

In [97]:
s[5:]

'Lungo'

#### getting the first 5 letters

In [109]:
s[:5]

'testo'

In [106]:
s[:-5]

'testo'